################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/stunnel
/src/x64/Debug
/src/vcpkg_installed/x64-windows-static
/src/x64/Release
/.vs
/src/cert_real.h
